<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">VanWittlaerTaxdooConnector</label>
    <label lang="en">VanWittlaerTaxdooConnector</label>
    <version>0.0.1</version>
    <copyright>(c) vanWittlaer GmbH</copyright>
    <license>proprietary</license>
    <link>https://vanwittlaer.de/</link>
    <author>vanWittlaer GmbH</author>

    <compatibility minVersion="5.5.5" />

    <changelog version="0.0.1">
        <changes lang="de">Pre-release</changes>
        <changes lang="en">Pre-release</changes>
    </changelog>
</plugin>